:root{
    --primary-color: #100423;
    --secondary-color: #5425AF;

    --focus-primary-color: #83432F;
    --focus-secondary-color: #CE5D3E;

    --max-width: 900px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
    color: white;

    overflow-x: hidden;
}

h1{
    font-size: 2.75vw;
    font-weight: 700;
}
a{
    color: white;
    text-decoration: none;
}
/*Utility Clases*/
.btn{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;  
    font-weight: 400;
    text-align: center;

    background: black;

    box-sizing: content-box;
}

.btn-primary{
    background: var(--secondary-color);
}

.btn-wsp{
    background: #22BC31
}

.btn-portafolio{
    display: block;
    max-width: 20vw;
    margin: 2rem auto;
    padding: 0.5rem 0.2rem;
}

.separador {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador::after {
    content: url(/img/Separar.png);
    height: 16px;
    width: auto;
}

.lead {
    font-size: 1.5vw;
    font-weight: 300;
    white-space: normal;
}

.text-right {text-align: right;}
.text-center{text-align: center;}

.justify-content-around{justify-content: space-around;}

.align-items-end {align-items: flex-end;}

.py-1{padding: 1.5rem 0 !important;}
.py-2{padding: 2rem 0 !important;}
.py-3{padding: 3rem 0 !important;}

.p-1{padding: 1.5rem !important;}
.p-2{padding: 2rem !important;}
.p-3{padding: 3rem !important;}

.mr-1{margin-right: 1.5rem !important;}
.mr-2{margin-right: 2rem !important;}
.mr-3{margin-right: 3rem !important;}

.my-1{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.my-2{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.my-3{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}



.min-h{
    min-height: 600px;
    min-width: 65vw;
}

/*Main Navbar*/

#main-navbar{
    width: 100vw;
    display: flex;
    margin: 1rem 0;
    margin-bottom: 3.25rem;
    font-weight: 300;
}

#main-navbar .logo img{
    position: absolute;
    left: 2.5vw;
    top: -15px;
    max-width: 200px;
    height: auto;
}

#main-navbar > ul{
    display: flex;
    list-style: none;
    line-height: 1.5;
    margin-left: 30vw;
    justify-content: space-between;
}

#main-navbar > ul li{ 
    font-size: 1vw;
    white-space: nowrap;
    margin: 0 1.9vw;
    margin-top: 0.75vw;
}

#main-navbar .btn{
    font-size: 1vw;
    font-weight: light;

    padding: 0.25rem 0.5rem;
}

#main-navbar .social{
    height: 2vw;
    width: 0.5vw;
    margin-top: 0;
    text-align: center;
}

#main-navbar .social i{
    border: 2px solid white;
    border-radius: 50%;

    height: 2.8vw;
    width: 2.8vw;

    padding-top: 0.85vw;
}

/*Banner Class*/

.banner {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.banner > img {
    width: 65vw;
    max-width: var(--max-width);
    height: auto;
}

.banner .banner-info{
    white-space: nowrap;
    font-size: 3vw;
    font-weight: 700;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7vw;
    margin-right: -0.5vw;
    z-index: 2;

}
.banner-info:nth-child(even){
    align-items: flex-end;
    text-align: right;
    margin-right: 7vw;
    margin-left: -0.5vw;
}

.banner-info p:nth-child(even){
    font-size: 2.2vw;
    font-weight: 300;
}

.banner-info > img {
    width: 100px;
}

.banner:nth-child(odd) .banner-info > img{
    right: 0;
}
.banner-info .btn{
    width: 75%;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.banner-info > h1 {
    white-space: normal;
    font-size: 3vw;
}

/*Como Trabajamos?*/

#como-trabajamos .banner{
    padding: 0 5rem;
    text-align: center;

    font-size: 1.5vw;
    font-weight: 700;
}

.banner-card{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-card h1{
    font-size: 7.1vw;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 0.85;
}

.banner-card .btn{
    display: block;
    height: 2vw;
    width: 9.5vw;
    margin-top: 6vw;
    padding: 0.35rem 1rem;
}

.banner-card img{
    margin-top: 3vw;
    width: 9.5vw;
    height: 9vw;
}

/*banner form*/

.banner-form {
    width: 75vw;
    margin: 2rem;
}


.banner-form form{
    display: flex;
    flex-direction: column;
    width: 20vw;

    margin-top: 1rem;
    font-size: 1.5vw;
}

.banner-form h1 span {
    font-size: 3.7vw;
}

.banner-form input{
    background: none;
    border: none;
    border-bottom: var(--secondary-color) solid 3px;
    font-size: 1.5vw;
    font-weight: 400;
    margin: 1rem 0;
    padding: 0 0.35rem;

    color: white;
}

.banner-form input::placeholder{
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 0;
}

.banner-form button{
    width: 25%;
    border: none;
    padding: 0.5rem;
}

.banner-form > .btn {
    padding: 0.5rem 0.75rem;
    margin-right: 1rem;
}

#nuestros-clientes{
    padding: 0 6vw;
    text-align: center;

    font-size: 20px;
    font-weight: 700;
}

#nuestros-clientes .clientes{
    display: flex;
    margin-top: 4rem;
}

#nuestros-clientes .clientes .cliente {
    border-top: var(--secondary-color) 8px solid;
    margin: 0 2rem;
    padding-top: 1rem;
    text-align: left;
}

#nuestros-clientes .clientes .cliente p{
    font-size: 1.25vw;
    font-weight: 500;
}

#nuestros-clientes .clientes .cliente .comentario{
    font-size: 2.5vw;
    font-weight: 700;
    min-height: 180px;
    height: 20vw;
}

/*Footer*/
footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: 300;

}

footer .logo {
    flex: 1;
}

footer .logo img{
    width: 7.2vw;
}

footer ul{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;

    text-align: center;
}

footer ul li {
    flex: 1;
    font-size: 1vw;
    font-weight: 400;

    margin: 0 2vw;
    white-space: nowrap;

    padding: 0.5rem 0;
}

footer ul .btn {
    font-size: 1vw;
    font-weight: 400;

    padding: 0.5vw;
}

#der {
    font-size: 0.885vw;
}

#portfolio{
    margin: 2rem 3rem;
    text-align: center;
}

#portfolio #galeria{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 32.5% 32.5% 32.5%;
    justify-content: space-between;
    row-gap: 1vw;
}

#galeria .box {
    position: relative;
    background: var(--primary-color);
}
 
#portfolio #galeria img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    transition: all linear 0.1s;
    margin-top: 0;
    border: white 0px solid;
    border-style: inset;
}

#portfolio #galeria img:hover{
    width: 98%;
    height: auto;
    margin-top: 0.75%;
}